@model IEnumerable<DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.ExercicioViewModel>

@{
    ViewData["Title"] = "Painel do Professor";
}

<h2>@ViewData["Title"]</h2>

<p>
    Painel Administrativo de Gerenciamento de Exercicios
</p>

<p>
    <a asp-controller="Exercicios" asp-action="CreateExercicio" class="btn btn-primary">Registrar Novo Exercicio</a>
</p>

@if (Model != null && Model.Any())
{ 
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DuraçãoMinutos)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DuraçãoMinutos)
                    </td>
                    <td class="botoes">
                        <a asp-controller="Exercicios" asp-action="UpdateExercicio" asp-route-id="@item.Id" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-controller="Exercicios" asp-action="DeleteExercicio" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        Nenhum exercicio encontrado.
    </div>
}