@model IEnumerable<DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.PlanoViewModel>

@{
    ViewData["Title"] = "Painel de Vendas";
}

<h2>@ViewData["Title"]</h2>

<p>
    Painel Administrativo de Gerenciamento de Planos
</p>

<p>
    <a asp-controller="Plano" asp-action="CreatePlano" class="btn btn-primary">Criar Novo Plano</a>
</p>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        R$@Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td class="botoes">
                        <a asp-controller="Plano" asp-action="UpdatePlano" asp-route-id="@item.Id" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-controller="Plano" asp-action="DeletePlano" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        Nenhum plano encontrado.
    </div>
}