@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.AlunoViewModel>

@{
    ViewData["Title"] = "Alunos da Academia";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-controller="Aluno" asp-action="CreateAluno">Registrar Novo Aluno</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrutor)
            </th>
            <th>
                Treinos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrutor)
                </td>
                <td>
                    <!-- Exibindo os treinos do aluno -->
                    @if (item.Treinos != null && item.Treinos.Any())
                    {
                        <ul>
                            @foreach (var treino in item.Treinos)
                            {
                                <li>
                                    <strong>Exercicio:</strong> @treino.Exercicio.Nome <br />
                                    <strong>Repetições:</strong> @treino.Repeticoes <br />
                                    <strong>Séries:</strong> @treino.Series
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Sem treinos registrados</span>
                    }
                </td>
                <td>
                    <br />
                    <br />
                    <a asp-controller="Aluno" asp-action="UpdateAluno" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a> |
                    <a asp-controller="Aluno" asp-action="DeleteAluno" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
