@model DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.AvaliacaoFisicaViewModel

@{
    ViewData["Title"] = "Delete Avaliação";
}

<form asp-action="DeleteAvaliacaoFisica" method="post" class="form-horizontal">
    @Html.AntiForgeryToken() <!-- Token anti-forgery para proteção -->
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <p>Tem certeza de que deseja excluir a Avaliação do aluno ID <strong>@Model.AlunoId</strong>?</p>
    </div> 

    <!-- Exibir os dados sem permitir edição (usar campo hidden para enviar os dados corretamente) -->
    <div class="form-group">
        <label for="AlunoId">AlunoId</label>
        <input type="hidden" asp-for="AlunoId" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.AlunoId" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="Peso">Peso</label>
        <input type="hidden" asp-for="Peso" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.Peso" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="Altura">Altura</label>
        <input type="hidden" asp-for="Altura" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.Altura" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="IMC">IMC</label>
        <input type="hidden" asp-for="IMC" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.IMC" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="PercentualGordura">Altura</label>
        <input type="hidden" asp-for="PercentualGordura" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.PercentualGordura" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="ClassificacaoIMC">ClassificacaoIMC</label>
        <input type="hidden" asp-for="ClassificacaoIMC" /> <!-- Usar campo hidden para garantir que o valor seja enviado -->
        <input type="text" value="@Model.ClassificacaoIMC" class="form-control" readonly />
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">Retornar</a>
        </div>
    </div>
</form>