@model IEnumerable<DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.TreinoViewModel>

@{
    ViewData["Title"] = "Painel do Professor";
}

<h2>@ViewData["Title"]</h2>

<p>
    Painel Administrativo de Gerenciamento de Treino dos Alunos
</p>

<p>
    <a asp-controller="Treinos" asp-action="CreateTreinoExercicio" class="btn btn-primary">Registrar Novo Treino</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>  
                <td class="botoes">
                    <a asp-controller="Aluno" asp-action="UpdateAluno" asp-route-id="@item.Id" class="btn btn-primary">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-controller="Aluno" asp-action="DeleteAluno" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
